.nav-link {
  position: relative;
}
.button-line {
	padding: 0 0 10px;

}

.button-line::after {
	position: absolute;
	top: 108%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #ff673e;
	content: '';
	opacity: 0;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	transform: translateY(-11px);
}

.button-line--active::after {
	position: absolute;
	top: 108%;
	left: 0;
	width: 100%;
	height: 5px;
	background: #ff673e;
	content: '';
	opacity: 1;
}

@media screen and (max-width: 767px) {
  .button-line--active::after {
    opacity: 0;
  }
}


.button-line:hover::after,
.button-line:focus::after {
	height: 5px;
	opacity: 1;
	transform: translateY(0px);
}

.shape-btn {
  width: 100%;
  background: $midgrey;
  border-bottom: 1px solid $mid-black;
  border-width: 0 0 1px 0;
  padding: 1rem 0 1rem 0;
  color: $white-bgr;
    &:hover {
  background: lighten($midgrey, 10);
 }
   &:active {
     background-color: $mid-black;
   }
}

.shape-btn.active {
  background: $mid-black;
}


.btn-wish {
	background: transparent;
  padding: 5px 60px 10px 45px;
	color: #000;
  position: relative;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: -0.0075em;
}

.btn-wish:hover {
	background: $midgrey;
  color: #fff;
}


.btn-wish:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 1.6;
	font-size: 1.3rem;
	width: 40px;
  background: transparent;
}

.btn-wish:hover::before{
  background: $bright-red;
  color: #fff;
}


.btn-submit {
  background: $bright-red;
  color: #fff;
  padding: 0.5rem 2rem;
}
